[Unit]
Requires=novnc.service
After=novnc.service

[Service]
ExecStart=/usr/local/bin/startbrowser.sh
Restart=always
#User=user
#Group=user

[Install]
WantedBy=multi-user.target
