[Unit]
Requires=novnc.service
After=novnc.service

[Service]
Environment=DISPLAY=:20
ExecStart=/usr/bin/chromium-browser --disable-dev-shm-usage --start-maximized
Restart=always
User=user
Group=user

[Install]
WantedBy=multi-user.target
