[Unit]
Requires=novnc.service
After=novnc.service

[Service]
Environment=DISPLAY=:20
ExecStart=/usr/bin/firefox
Restart=on-failure
User=user
Group=user

[Install]
WantedBy=multi-user.target
