[Unit]
Requires=vnc.service
After=vnc.service

[Service]
ExecStart=/usr/share/novnc/utils/launch.sh --vnc 127.0.0.1:5900
Restart=on-failure
User=user
Group=user
ExecStartPre=/bin/sleep 5

[Install]
WantedBy=multi-user.target