[Unit]
Requires=warsaw-root.service
After=warsaw-root.service

[Service]
ExecStart=/usr/bin/warsaw start
RemainAfterExit=yes
Type=oneshot
User=user
Group=user
ExecStartPre=/bin/sleep 5

[Install]
WantedBy=multi-user.target
